@model CodeFirst.History

<tr>
    
    <td>@Model.StartTime</td>
    <td>@Model.FinishTime</td>
    <td>@Model.DepatureAddress</td>
    <td>@Model.DestinationAddress</td>
    <td>@Model.Driver.Name @Model.Driver.MiddleName</td>
    <td>@Model.User.Name @Model.User.MiddleName</td>
</tr>